<app-module-navbar (userSelected)="showUsers($event)"></app-module-navbar>

<div class="row">
  <div class="col-md-4">    
    <h5>Numbers of users in module</h5>
  </div>
  <div class="col-md-8">
    <div class="btn-group-vertical">
      <button type="button" class="btn button-on m-1" *ngFor="let item of users">
        {{ item | formato: 'user' }}
      </button>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <button type="button" class="btn btn-danger">Delete</button>
      <button type="button" class="btn btn-warning">Advice</button>
      <button type="button" class="btn btn-success">Create</button>
      <button type="button" class="btn btn-info">Submit</button>
    </div>
  </div>
</div>