.users {    
    border-radius: 0.8rem !important;    
    padding:  0.5rem 2rem 0.5rem 2rem;
}

#delete {
    background-color: #e74646;
}

#advice {
    background-color: #e4c975;
}

#create {
    background-color: #fd9796;
}

#submit {
    background-color: #77ccb8;
}

.panel {
    margin-top: 150px;
    text-align: center;
}