<app-module-navbar (userSelected)="showUsers($event)"></app-module-navbar>

<div class="row">
  <div class="col-md-4">    
    <h5>Numbers of users in module</h5>
  </div>
  <div class="col-md-8">
    <ul class="list-group" *ngFor="let item of users">
      <li class="list-group-item list-group-item-success">{{ item }}</li>
    </ul>
  </div>

  <div class="row">
    <div class="col-md-12">
      <button type="button" class="btn btn-danger">Delete</button>
      <button type="button" class="btn btn-warning">Advice</button>
      <button type="button" class="btn btn-success">Create</button>
      <button type="button" class="btn btn-info">Submit</button>
    </div>
  </div>
</div>